<b>NoteBook 2: <b>

*The algorithm for changing the base for a number is the same for all bases:*
1. get the remainder of division of the converted number with the wanted base and add it to the start of a String variable

2. after step 1 we can divide our original number with the base we are converting it to (because we already dealt with the Remainder of division)

3. repeat step 1+2 as long as the original number has value

** in hexedecimal the difference is to know when to add the letters A-F that represents the numbers 10-15

In [162]:
def binary(x):
    binary = ""
    count = 0 #every 4 digits enter space
    while(x != 0):
        count = count+1
        binary = str(x % 2) + binary
        x = int(x / 2)
        if(count % 4 == 0):
            binary = " " + binary
    return "Bin: " + binary

def octe(x):
    octe = ""
    while(x != 0):
        octe = str(x % 8) + octe
        x = int(x / 8)
    return "Oct: " + octe

def hexe(x):
    hexe = ""
    while(x != 0):
        remain = x % 16
        if(remain == 10):
            hexe = "A" + hexe
        elif(remain == 11):
            hexe = "B" + hexe
        elif(remain == 12):
            hexe = "C" + hexe
        elif(remain == 13):
            hexe = "D" + hexe
        elif(remain == 14):
            hexe = "E" + hexe
        elif(remain == 15):
            hexe = "F" + hexe
        else:
            hexe = str(remain) + hexe
        x = int(x / 16)
    return "Hex: " + hexe

x = 24561
print(hexe(x) , binary(x) , octe(x))

Hex: 5FF1 Bin: 101 1111 1111 0001 Oct: 57761

Q1

In [163]:
import pandas as pd
import numpy as np
cast = pd.read_csv(r'C:\Users\USER\Desktop\מבוא למדעי הנתונים/cast.csv')
print(cast['title'].str.contains("Hamlet").value_counts())

False    3332804
True         891
Name: title, dtype: int64

At first I strated by how many movies has "Hamlet" in their title but as I began to proceed I've noticed that the same movie can be shown multiple time in the same name+year and that is beacuse of the perfoming actor/actress.

So in the cell below I took all the movies with "Halmet" in the title then I sorted the data set by year,changed the indexes 
and then I checked on each year if the same title for a movie appering more than once-->if two rows has the same movie title + the same release year then it is the movie and I can get rid of this "extra" data.

In the end we remain with a dataframe with all the movies for hamlet without the extra data

In [288]:
#This function cleans a dataframe from all the reptitive performance of the same movie and remains only one movie
#if two rows have the same title and were released in the same year so one of the rows will be deleted
#The function is cleaning the dataframe from both ascending and decending order
def clean (df):
    bol = False
    for j in range(2):
        df = df.sort_values(by=['year'] , ascending = bol)
        df.index = range(len(df.index))
        x = 0
        while(x < len(df.index) - 1):
            i = x + 1
            while(df.loc[x]['year'] == df.loc[i]['year'] and i < len(df.index)-1):
                #because the dataframe is sorted  by year I need to check the title only if it got released on the same year
                if(df.loc[x]['title'] == df.loc[i]['title']):
                    df.drop([i], axis = 0, inplace=True)
                i = i + 1
            x = x + 1
            df.index = range(len(df.index))#the  table is constantly changing so I need to keep the order of the indexes
        bol = True
    df.index = range(len(df.index))
    return df

In [289]:
hamlet = cast.loc[cast['title'].str.contains("Hamlet")].sort_values(by=['year'])
#the start of the dataframe is all the movies that have "Hamlet" is their title sorted by year
hamlet = clean(hamlet)
print("There are" , len(hamlet.index) , "movies with the title 'Hamlet' or 'Hamlet' is in the name of the movie")

There are 49 movies with the title 'Hamlet' or 'Hamlet' is in the name of the movie

Q2

In [290]:
pd.set_option("max_rows", None)
df = clean(cast.loc[cast['title'].str.contains("Treasure Island")])
df

,title,year,name,type,character,n
0,Treasure Island,1918,Eleanor Washington,actress,Prologue Player,NaN
1,Treasure Island,1920,Wilton Taylor,actor,Black Dog,4.0
2,Treasure Island,1934,Robert R. Stephenson,actor,Pirate,NaN
3,The Secret of Treasure Island,1938,Hobart Bosworth,actor,Dr. X,6.0
4,Charlie Chan at Treasure Island,1939,Arthur Rankin,actor,Airways Official,NaN
5,Treasure Island,1950,Ralph Truman,actor,George Merry,7.0
6,Return to Treasure Island,1954,Henry Rowland,actor,Williams,8.0
7,Five on a Treasure Island,1957,John Charlesworth,actor,Jan,8.0
8,Treasure Island,1972,Aldo Sambrell,actor,Israel Hands,11.0
9,Treasure Island,1973,Jane Webb,actress,Mrs. Hawkins,6.0
10,Treasure Island,1985,Lou Castel,actor,Father,6.0
11,Muppet Treasure Island,1996,Heather Tobias,actress,Additional Muppet Performer,59.0
12,Treasure Island (II),1999,Philip Whitchurch,actor,Black Dog,11.0
13,Treasure Island,1999,Scott King,actor,Walter,15.0
14,Treasure Island Kids: The Monster of Treasure ...,2006,Andrea Kelland,actress,Dr. Maxwell,15.0
15,Treasure Island Kids: The Battle of Treasure I...,2006,Leader Hawkins,actor,Jim Hawkins,NaN
16,Pirates of Treasure Island,2006,Lance Henriksen,actor,Long John Silver,1.0
17,Treasure Island Kids: The Mystery of Treasure ...,2006,Wickham Pack,actress,Wendy,NaN
18,National Theatre Live: Treasure Island,2015,Patsy Ferran,actress,Jim Hawkins,1.0

Q3

In [291]:
cast.loc[cast['title'].str.contains("Hamlet") & (cast['year'] == 1921)]

          title  year                    name     type         character    n
6710     Hamlet  1921        Fritz Achterberg    actor       Fortinbras,  9.0
408456   Hamlet  1921            Paul Conradi    actor      K?nig Hamlet  2.0
495468   Hamlet  1921        Anton De Verdier    actor           Laertes  7.0
1015046  Hamlet  1921         Hans Junkermann    actor          Polonius  6.0
1948795  Hamlet  1921            Heinz Stieda    actor           Horatio  5.0
2116906  Hamlet  1921  Eduard von Winterstein    actor          Claudius  4.0
2370048  Hamlet  1921         Mathilde Brandt  actress  K?nigin Gertrude  3.0
2713980  Hamlet  1921          Lilly Jacobson  actress           Ophelia  8.0
2964897  Hamlet  1921            Asta Nielsen  actress            Hamlet  1.0

there were 9 roles credited in "Hamlet" in 1921

In [298]:
hamlet

,title,year,name,type,character,n
0,Hamlet,1910,Jean Mounet-Sully,actor,Hamlet,NaN
1,Hamlet,1911,Alwin Neu?,actor,Hamlet,1.0
2,Hamlet,1913,S.A. Cookson,actor,Horatio,3.0
3,A Sagebrush Hamlet,1919,Walter Perry,actor,Sheriff John Doe,5.0
4,Hamlet,1921,Paul Conradi,actor,K?nig Hamlet,2.0
5,"Han, hun og Hamlet",1922,Mathilde Felumb Friis,actress,Head Mistress,NaN
6,"Han, hun og Hamlet",1932,Marguerite Viby,actress,Eva,1.0
7,Hamlet,1948,Patrick Macnee,actor,Extra,NaN
8,Hamlet,1954,Mala Sinha,actress,Ophelia,1.0
9,Hamlet (II),1964,Howard Da Silva,actor,Claudius,NaN
10,Hamlet,1964,Christopher Culkin,actor,Player Queen,NaN
11,Hamlet,1969,Robin Chadwick,actor,Francisco,14.0
12,Hamlet,1973,Bembo Davis,actor,Norwegian captain,NaN
13,Predstava 'Hamleta' u Mrdusi Donjoj,1974,Kresimir Zidaric,actor,Kralj,3.0
14,Hamlet,1976,Tony Meyer,actor,Hamlet,5.0
15,Kadin Hamlet,1977,Ahmet Sezerel,actor,Orhan,5.0
16,Hamlet,1987,Richard Spaul,actor,Claudius,NaN
17,Hamlet liikemaailmassa,1987,Pentti Auer,actor,Is?,11.0
18,Hamlet: Prince of Denmark,1989,Kabir Ahamed,actor,"Hamlet, Prince of Denmark",NaN
19,Hamlet,1990,John McEnery,actor,Osric,12.0
20,Green Eggs and Hamlet,1995,David (II) Seal,actor,Guildenstern,NaN
21,Fuck Hamlet,1996,Till Sarrach,actor,Till,NaN
22,Hamlet,1996,John Mills,actor,Old Norway,33.0
23,"Hamlet, Prince of Denmark",1997,Gary Paul Wright,actor,Hamlet,NaN
24,Hamlet,2000,Thomas Roma,actor,Special Guest Appearance,38.0
25,Hamlet in the Hamptons,2002,Lenny Safko,actor,Wiseguy,11.0
26,Hamlet_X,2003,Susanne Lothar,actress,Gertrud #3,NaN
27,Hamlet X,2004,Helen Hopkins,actress,Janet,NaN
28,Hamlet (II),2005,Damien Devaney,actor,Third Player,12.0
29,"Dogg's Hamlet, Cahoot's Macbeth",2005,Alexandra Scarborough,actress,Lady Macbeth,NaN
30,Hamlet (III),2007,Petar Bozovic,actor,Klaudije,NaN
31,The Tragedy of Hamlet Prince of Denmark,2007,Beth Buchanan,actress,Ophelia,NaN
32,Hamlet (II),2007,David (XXVIII) Thompson,actor,The Gravedigger,NaN
33,Hamlet the Vampire Slayer,2008,Daniel T. Cornish,actor,Rosenchad,8.0
34,Hamlet 2,2008,Evan Adrian,actor,Danny the Waiter,24.0
35,Kitchen Hamlet,2009,Geoffrey (II) Nelson,actor,Polonius,4.0
36,Hamlet,2009,Matt (II) Hurley,actor,Guildenstern,10.0
37,Hamlet,2011,Martin Sims,actor,Guildenstern,NaN
38,Zombie Hamlet,2012,Jason Mewes,actor,Zack,NaN
39,Hamlet Unbound,2012,Hugo Santander,actor,Hamlet,NaN
40,"Harry, Hamlet and I",2013,Sarah (XXII) Morris,actress,Celeste,NaN
41,Hamlet's Ghost,2014,Timothy Fary,actor,Osric - Past,26.0
42,Hamlet A.D.D.,2014,John Chiaverina,actor,Lord,NaN
43,Hamlet,2015,Barbara Marten,actress,Gertrude,3.0
44,"Hamlet, Son of a Kingpin",2015,Nicky Romaniello,actor,Customs Officer,NaN
45,Hamlet (II),2015,Travis Wilker,actor,Hamlet,NaN
46,Hamlet (III),2015,Taz Bear,actor,Royal Hound,NaN
47,National Theatre Live: Hamlet,2015,Karl (II) Johnson,actor,Ghost of Hamlet's Father,NaN
48,Hamlet (II),2016,Emmett Lee Stang,actor,Hamlet,NaN

Q4

For this question I will the use the cleaned dataframe of hamlet from Q1

I will use groupby() and size() so for each year I will know how many movies got released in that year.

To know how many movies got released on each decade I will use loc[1950:1960] this is 50' decade and with sum() I will get the result for the number of movies in that decade

In [351]:
group = pd.DataFrame(hamlet.groupby("year").size())
i = 1910
while(i<2020):
    print("In the",i, "decade they made ", group.loc[i:i+10].sum()[0] , " of 'Hamlet'")
    i = i+10
#cast.loc[cast['title'].str.contains("Hamlet") & (cast['year'] == 1921)]

In the 1910 decade they made  4  of 'Hamlet'
In the 1920 decade they made  2  of 'Hamlet'
In the 1930 decade they made  1  of 'Hamlet'
In the 1940 decade they made  1  of 'Hamlet'
In the 1950 decade they made  1  of 'Hamlet'
In the 1960 decade they made  3  of 'Hamlet'
In the 1970 decade they made  4  of 'Hamlet'
In the 1980 decade they made  4  of 'Hamlet'
In the 1990 decade they made  6  of 'Hamlet'
In the 2000 decade they made  13  of 'Hamlet'
In the 2010 decade they made  12  of 'Hamlet'