<b>NoteBook 2: <b>

*The algorithm for changing the base for a number is the same for all bases:*
1. get the remainder of division of the converted number with the wanted base and add it to the start of a String variable

2. after step 1 we can divide our original number with the base we are converting it to (because we already dealt with the Remainder of division)

3. repeat step 1+2 as long as the original number has value

** in hexedecimal the difference is to know when to add the letters A-F that represents the numbers 10-15

In [179]:
def binary(x):
    binary = ""
    count = 0 #every 4 digits enter space
    while(x != 0):
        count = count+1
        binary = str(x % 2) + binary
        x = int(x / 2)
        if(count % 4 == 0):
            binary = " " + binary
    return "Bin: " + binary

def octe(x):
    octe = ""
    while(x != 0):
        octe = str(x % 8) + octe
        x = int(x / 8)
    return "Oct: " + octe

def hexe(x):
    hexe = ""
    while(x != 0):
        remain = x % 16
        if(remain == 10):
            hexe = "A" + hexe
        elif(remain == 11):
            hexe = "B" + hexe
        elif(remain == 12):
            hexe = "C" + hexe
        elif(remain == 13):
            hexe = "D" + hexe
        elif(remain == 14):
            hexe = "E" + hexe
        elif(remain == 15):
            hexe = "F" + hexe
        else:
            hexe = str(remain) + hexe
        x = int(x / 16)
    return "Hex: " + hexe

x = 24561
print(hexe(x) , binary(x) , octe(x))

Hex: 5FF1 Bin: 101 1111 1111 0001 Oct: 57761

Q1

In [3]:
import pandas as pd
import numpy as np
cast = pd.read_csv(r'C:\Users\USER\Desktop\מבוא למדעי הנתונים/cast.csv')
print(cast['title'].str.contains("Hamlet").value_counts())

False    3332804
True         891
Name: title, dtype: int64

At first I strated by how many movies has "Hamlet" in their title but as I began to proceed I've noticed that the same movie can be shown multiple time in the same name+year and that is beacuse of the perfoming actor/actress.

So in the cell below I took all the movies with "Halmet" in the title then I sorted the data set by year,changed the indexes 
and then I checked on each year if the same title for a movie appering more than once-->if two rows has the same movie title + the same release year then it is the movie and I can get rid of this "extra" data.

In the end we remain with a dataframe with all the movies for hamlet without the extra data

In [4]:
#This function cleans a dataframe from all the reptitive performance of the same movie and remains only one movie
#if two rows have the same title and were released in the same year so one of the rows will be deleted
#The function is cleaning the dataframe from both ascending and decending order
def clean (df):
    bol = False
    for j in range(2):
        df = df.sort_values(by=['year'] , ascending = bol)
        df.index = range(len(df.index))
        x = 0
        while(x < len(df.index) - 1):
            i = x + 1
            while(df.loc[x]['year'] == df.loc[i]['year'] and i < len(df.index)-1):
                #because the dataframe is sorted  by year I need to check the title only if it got released on the same year
                if(df.loc[x]['title'] == df.loc[i]['title']):
                    df.drop([i], axis = 0, inplace=True)
                i = i + 1
            x = x + 1
            df.index = range(len(df.index))#the  table is constantly changing so I need to keep the order of the indexes
        bol = True
    df.index = range(len(df.index))
    return df

In [8]:
hamlet = cast.loc[cast['title'].str.contains("Hamlet")].sort_values(by=['year'])
#the start of the dataframe is all the movies that have "Hamlet" is their title sorted by year
hamlet = clean(hamlet)
print("There are" , len(hamlet.index) , "movies with the title 'Hamlet' or 'Hamlet' is in the name of the movie")

There are 49 movies with the title 'Hamlet' or 'Hamlet' is in the name of the movie

Q2

In [290]:
pd.set_option("max_rows", None)
df = clean(cast.loc[cast['title'].str.contains("Treasure Island")])
df

,title,year,name,type,character,n
0,Treasure Island,1918,Eleanor Washington,actress,Prologue Player,NaN
1,Treasure Island,1920,Wilton Taylor,actor,Black Dog,4.0
2,Treasure Island,1934,Robert R. Stephenson,actor,Pirate,NaN
3,The Secret of Treasure Island,1938,Hobart Bosworth,actor,Dr. X,6.0
4,Charlie Chan at Treasure Island,1939,Arthur Rankin,actor,Airways Official,NaN
5,Treasure Island,1950,Ralph Truman,actor,George Merry,7.0
6,Return to Treasure Island,1954,Henry Rowland,actor,Williams,8.0
7,Five on a Treasure Island,1957,John Charlesworth,actor,Jan,8.0
8,Treasure Island,1972,Aldo Sambrell,actor,Israel Hands,11.0
9,Treasure Island,1973,Jane Webb,actress,Mrs. Hawkins,6.0
10,Treasure Island,1985,Lou Castel,actor,Father,6.0
11,Muppet Treasure Island,1996,Heather Tobias,actress,Additional Muppet Performer,59.0
12,Treasure Island (II),1999,Philip Whitchurch,actor,Black Dog,11.0
13,Treasure Island,1999,Scott King,actor,Walter,15.0
14,Treasure Island Kids: The Monster of Treasure ...,2006,Andrea Kelland,actress,Dr. Maxwell,15.0
15,Treasure Island Kids: The Battle of Treasure I...,2006,Leader Hawkins,actor,Jim Hawkins,NaN
16,Pirates of Treasure Island,2006,Lance Henriksen,actor,Long John Silver,1.0
17,Treasure Island Kids: The Mystery of Treasure ...,2006,Wickham Pack,actress,Wendy,NaN
18,National Theatre Live: Treasure Island,2015,Patsy Ferran,actress,Jim Hawkins,1.0

Q3

In [291]:
cast.loc[cast['title'].str.contains("Hamlet") & (cast['year'] == 1921)]

          title  year                    name     type         character    n
6710     Hamlet  1921        Fritz Achterberg    actor       Fortinbras,  9.0
408456   Hamlet  1921            Paul Conradi    actor      K?nig Hamlet  2.0
495468   Hamlet  1921        Anton De Verdier    actor           Laertes  7.0
1015046  Hamlet  1921         Hans Junkermann    actor          Polonius  6.0
1948795  Hamlet  1921            Heinz Stieda    actor           Horatio  5.0
2116906  Hamlet  1921  Eduard von Winterstein    actor          Claudius  4.0
2370048  Hamlet  1921         Mathilde Brandt  actress  K?nigin Gertrude  3.0
2713980  Hamlet  1921          Lilly Jacobson  actress           Ophelia  8.0
2964897  Hamlet  1921            Asta Nielsen  actress            Hamlet  1.0

there were 9 roles credited in "Hamlet" in 1921

Q4

For this question I will the use the cleaned dataframe of hamlet from Q1

I will use groupby() and size() so for each year I will know how many movies got released in that year.

To know how many movies got released on each decade let's say I want to know how many Hamlet movies were in the 50' so I will use loc[1950:1960] this is 50' decade and with sum() I will get the result for the number of movies in that decade

In [9]:
group = pd.DataFrame(hamlet.groupby("year").size())
i = 1910
while(i<2020):
    print("In the",i, "decade they made ", group.loc[i:i+10].sum()[0] , " of 'Hamlet'")
    i = i+10

In the 1910 decade they made  4  of 'Hamlet'
In the 1920 decade they made  2  of 'Hamlet'
In the 1930 decade they made  1  of 'Hamlet'
In the 1940 decade they made  1  of 'Hamlet'
In the 1950 decade they made  1  of 'Hamlet'
In the 1960 decade they made  3  of 'Hamlet'
In the 1970 decade they made  4  of 'Hamlet'
In the 1980 decade they made  4  of 'Hamlet'
In the 1990 decade they made  6  of 'Hamlet'
In the 2000 decade they made  13  of 'Hamlet'
In the 2010 decade they made  12  of 'Hamlet'

Q5

In this question I took for each year in the 50' the leading role and check the type for the leading role (actor/actress)
then it's a simple counter for each type

In [6]:
for j in range(10):
    lead = cast.loc[(cast['year'] == 1950 + j) & (cast['n'] == 1)] #getting all the movies in the 50' with the leading role
    lead.index = range(len(lead.index))
    actor = 0
    actress = 0
    lead
    for i in range(len(lead.index)):
        if(lead.loc[i]['type'] == 'actor'):
            actor = actor + 1
        else:
            actress = actress + 1
    print("In the year",1950 + j,"there were ",actor ,"leading roles for actors and ", actress ,"leading roles for actress")

In the year 1950 there were  604 leading roles for actors and  271 leading roles for actress
In the year 1951 there were  633 leading roles for actors and  272 leading roles for actress
In the year 1952 there were  591 leading roles for actors and  284 leading roles for actress
In the year 1953 there were  634 leading roles for actors and  290 leading roles for actress
In the year 1954 there were  626 leading roles for actors and  298 leading roles for actress
In the year 1955 there were  606 leading roles for actors and  264 leading roles for actress
In the year 1956 there were  614 leading roles for actors and  288 leading roles for actress
In the year 1957 there were  708 leading roles for actors and  284 leading roles for actress
In the year 1958 there were  694 leading roles for actors and  275 leading roles for actress
In the year 1959 there were  678 leading roles for actors and  287 leading roles for actress

Q6

Getting all the movies in the dataframe since 1990 with the leading role and grouping them by the names of the actor/actress

then taking the size for that group so now I have a list with all the actors/actresses with the amount of movies each actor/actress played a leading role in.

and in the end we just need to sort that df by desending values and print the top 10

In [23]:
top10 = cast.loc[(cast['year'] >= 1990) & (cast['n'] == 1)]
top10 = top10.groupby('name')
top10 = pd.DataFrame(top10.size())
top10 = top10.rename(columns={0: 'Movies played'})
top10 = top10.sort_values(by = ['Movies played'] , ascending = False)
top10[0:10]

                    Movies played
name
Mohanlal                      126
Mammootty                     118
Akshay Kumar                   87
Jayaram                        76
Andy Lau                       72
Ajay Devgn                     69
Amitabh Bachchan               68
Eric Roberts                   68
Nagarjuna Akkineni             60
Dilip                          59

Q7

In this question I took all the movies Frank Oz played in them and with groupby and size I could find out how many times Frank Oz played in every movie in the list.

Once I have the list of the movies with the amount of roles I can filter it with .loc[frank[0]>1] to get only the movies he played more than one part.

Before the for loop I created a new empty DF(ans) and inside the loop I added all the movies that Frank Oz played more than one part by contains and frank[frank[0]>1].index[i] that return the name of the movie.

In the end all that is left is to use clean function so I will get one appearnce of each movie and to clean it with removing the columns of 'n' , 'character' , 'type' for more order.

In [ ]:
frank = cast.loc[(cast['name'] == 'Frank Oz')] 
frank = frank.groupby('title')
frank = pd.DataFrame(frank.size())
frank = frank.loc[frank[0]>1]
ans = pd.DataFrame({})
for i in range(len(frank.index)):
    ans = ans.append( cast.loc[cast['title'].str.contains(frank[frank[0]>1].index[i]) & (cast['name'] == 'Frank Oz')])
ans = clean(ans)
ans.drop(['n' , 'character' , 'type'], axis = 1, inplace=True)
frank = frank.sort_values(by='title')#synchronizing between frank and ans so I could insert how many roles Frank Oz played in each movie
ans = ans.sort_values(by='title')
frank.index = range(len(frank.index))
ans.index = range(len(ans.index))
ans['roles played'] = frank
ans = ans.sort_values(by='year')
ans.index = range(len(ans.index))
ans